{% extends "base.html" %}

{% block head_title %}Accessibility statement - {{service_name}}{% endblock %}
{% block service_name %}{{service_name}}{% endblock %}

{% block body_content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content">
      <div class="govuk-grid-row govuk-!-margin-bottom-4">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Accessibility statement for {{service_name}}</h1>
        </div>
      </div>
      <div class="govuk-grid-row govuk-body">
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body">This accessibility statement applies to {{service_name}}, which allows users to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>search for legislation, codes of practice and other requirements that regulate UK business activities</li>
            <li>filter results by content type and publishing organisation</li>
          </ul>
          <p class="govuk-body">This website is run by the Department for Business and Trade. We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>change colours, contrast levels and fonts using browser or device settings</li>
            <li>zoom in up to 400% without the text spilling off the screen</li>
            <li>navigate most of the website using a keyboard or speech recognition software</li>
            <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
          </ul>
          <p class="govuk-body">We've also made the website text as simple as possible to understand.</p>

          <p class="govuk-body"><a href="https://mcmw.abilitynet.org.uk/" class="govuk-link">AbilityNet</a>
            has advice on making your device easier to use if you have a disability.
          </p>
          <h2 class="govuk-heading-l">Accessibility of this website</h2>
          <p class="govuk-body">We know that the content we link to in this service is not fully accessible. For example:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>some of the documents we link to are only available as PDFs and are not fully accessible to screen reader software</li>
            <li>some of the external websites we link to do not comply with web accessibility guidelines </li>
          </ul>
          <h2 class="govuk-heading-l">What we are doing to improve accessibility</h2>
          <p class="govuk-body">
            We will carry out an accessibility audit and external accessibility testing of this website by the end of March 2025.
          </p>
          <h2 class="govuk-heading-l">Reporting accessibility issues and contacting us</h2>
          <p class="govuk-body">
            If you find any problems not listed on this page or think we're not meeting accessibility requirements, contact <a href="mailto:{{contact_email}}" class="govuk-link">
              {{contact_email}}
            </a>
          </p>

          <p class="govuk-body">If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille, email <a href="mailto:{{contact_email}}" class="govuk-link">
            {{contact_email}}
          </a></p>
          <p class="govuk-body">We'll consider your request and get back to you in 10 working days.</p>

          <h2 class="govuk-heading-l">Enforcement procedure</h2>
          <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations'). If you're not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/" class="govuk-link">contact the Equality Advisory and Support Service (EASS)</a>.</p>

          <h2 class="govuk-heading-l">Technical information about this website's accessibility</h2>
          <p class="govuk-body">The Department for Business and Trade is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
          </p>

          <h2 class="govuk-heading-l">Compliance status</h2>
          <p class="govuk-body">We have carried out internal testing against the Web Content Accessibility Guidelines (WCAG) 2.2 AA standard. We will carry out external testing against these guidelines by March 2025.</p>

          <h2 class="govuk-heading-l">Non-accessible content</h2>
          <p class="govuk-body">The content listed below is non-accessible for the following reasons.
          </p>

          <h3 class="govuk-heading-m">Non compliance with the accessibility regulations</h3>
          <p class="govuk-body">We link to external websites. Some of the content on these does not comply with the accessibility regulations.</p>
          <p class="govuk-body">We plan to raise these issues with the owners of these external websites.</p>

          <h2 class="govuk-heading-l">Preparation of this accessibility statement</h2>
          <p class="govuk-body">This statement was prepared on 22 January 2025. It was last reviewed on 22 January 2025.</p>
          <p class="govuk-body">This website has not yet been externally tested against the WCAG 2.2 AA standard. We will carry out external testing by the end of March 2025.</p>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
