{% extends "base.html" %}

{% block head_title %}Disclaimer - {{service_name}}{% endblock %}
{% block service_name %}{{service_name}}{% endblock %}

{% block body_content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content">
      <div class="govuk-grid-row govuk-!-margin-bottom-4">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Disclaimer: {{service_name_long}}</h1>
        </div>
      </div>
      <div class="govuk-grid-row govuk-body">
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body">
            {{service_name_long}} combines information from The National Archives, GOV.UK and regulators' websites. This information was last reviewed on 04 Feburary 2025.
          </p>
          <p class="govuk-body">
            We currently provide information on regulations and laws that apply to the construction industry. We aim for this to be a complete set of information for this sector, but continue to review the data set for gaps, inconsistencies and updates.
          </p>
          <p class="govuk-body">
            Help us improve the dataset by <a href="/feedback" class="govuk-link">reporting any errors, omitted, incorrect or misleading results</a>.
          </p>
          <p class="govuk-body">
            The Department for Business and Trade does not accept any legal liability for loss suffered as a result of relying on the information on this website.
          </p>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
