{% extends "base.html" %}

{% block head_title %}{{service_name}} - Feedback{% endblock %}
{% block service_name %}{{service_name}}{% endblock %}

{% block body_content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Report a problem or leave feedback</h1>
          {% comment %} {% if success %} {% endcomment %}
            {% comment %} <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
              <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                  Feedback sent
                </h2>
              </div>
              <div class="govuk-notification-banner__content">
                <h3 class="govuk-notification-banner__heading">
                  We have received your feedback.
                </h3>
                <p class="govuk-body">
                  We will only contact you if we need more information.
                </p>
              </div>
            </div> {% endcomment %}
          {% comment %} {% else %} {% endcomment %}
            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
              <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                  An error occurred while sending the email
                </h2>
              </div>
              <div class="govuk-notification-banner__content">
                <h3 class="govuk-notification-banner__heading">
                  We have not received your feedback.
                </h3>
                <p class="govuk-body">
                  You can still leave feedback by emailing
                  <a class="govuk-link fbr-!-no-text-wrap" href="mailto:find-business-regulations@businessandtrade.gov.uk">
                    find-business-regulations@businessandtrade.gov.uk
                  </a>
                </p>
              </div>
            </div>
          {% comment %} {% endif %} {% endcomment %}
          <p class="govuk-body">
            <a href="/" class="govuk-link govuk-link--no-visited-state">Find business regulations and guidance</a>
          </p>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
